.Input-wrapper{
    height: 5em;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.result{
    flex: 1;
    font-size: 24px;
}
.text{
    flex:1;
    font-size: 13px;
}
